@import url('https://fonts.cdnfonts.com/css/mistic-terror');
body {
    font-family: 'Mistic terror';                                  
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}
h1, h2, h3 {
    font-family: 'Mistic terror';
    text-align: center;
    font-size: 35px;
}

header {
    background-color: #fff;
    color: #333;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo h1 {
    margin: 0;
    font-size: 1.5rem;
    color:turquoise;
    letter-spacing: 5px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

nav ul li a:hover {
    color: turquoise;
    transform: scale(1.1);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #333;
}
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        left: 100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: all 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-links.active {
        left: 0;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.section-content{
    width: 70%;
    margin-left: 15%;
    margin-top: 7.5rem;
    justify-content: space-between;
    font-size: 30px;
}
.section-content h2, p{
    text-align: center;
    width: 90%;
    margin-left: 7%;
    
}
.section-content img{
    width: 50%;
    height: 20%;
    margin-left: 25%;
    margin-top: 10px;
    border-radius: 70%;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
    display: flex;
}
.hours{
    width: 33.3%;
    margin: 5px;
    text-align: center;
    justify-content: space-evenly;
}
.hours h2{
    font-size: 24px;
    text-align: center;
    margin: 5px;
}
.hours ul li  {
    text-align: center;
    list-style-type: none;
}
.hours span{
    color: rgb(60, 89, 252);
}

.home-sci {
    align-items: center;
    width: 33.3%;
    margin: 5px;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    border-spacing: 1rem;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: .2rem solid #ccc;
    border-radius: 50%;
    font-size: 25px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: 0.4s;
}

.home-sci a:hover {
    color: var(--bg-color);
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:rgb(60, 89, 252);
    color: white;
    z-index: -1;
    transition: .4s;
}

.home-sci a:hover::before {
    width: 100%;
}
.address{
    align-items: center;
    width: 33.3%;
    border: 2px solid #fff;
    margin: 5px;
}
.address iframe{
    width: 100%;
}